{% extends 'base.html' %}

{% block content %}
<div class="main-container">

    <div class="welcome-row">
        <div class="welcome-message">
            <h1>Plans &amp; Pricing</h1>
        </div>
        <div class="language-notification">
            <div class="language-container">
                <div class="language-select">Free Classic Plan</div>
            </div>
            
            <!-- <div class="notification">
                <span class="notification-icon"><i class="fa fa-bell" style="font-size:24px"></i></span>
                <span class="notification-count">128</span>
            </div> -->
        </div>
    </div>


    <div class="subscription-card">
        <div class="subscribed-badge">Subscribed</div>
        <div class="price-icon">
          <img src="https://accessibilitygenerator.com/assets/images/bulb.svg" alt="Lightbulb icon" class="lightbulb-icon">
        </div>
        <h2 class="plan-title">Free</h2>
        <p class="price">
          <span class="currency">USD</span><span class="currency-icon">$</span>
          <span class="amount">0</span><span class="per-month">/mo</span>
        </p>
        <ul class="features-list">
          <li> 1 Free Audit (3 pages)</li>
          <li> Accessibility Statement</li>
          <li> 45 Minutes Free Zoom Call with Accessibility Expert</li>
        </ul>
    </div>
            <div class="img-banner">
            <!-- Banner Content -->
            <div class="banner-content">
                <h2>Expert ADA and WCAG Compliance Services for Your Website</h2>
                <p>We manually audit, fix and certify website accessibility at the code level</p>
            </div>

            <!-- Banner Icons -->
            <div class="banner-icons">
                <!-- Icon 1 -->
                                <div class="banner-icon">
                    <img src="https://accessibilitygenerator.com/assets/uploads/iaap.svg" alt="iaap">
                </div>
                
                <!-- Icon 2 -->
                                <div class="banner-icon">
                    <img src="https://accessibilitygenerator.com/assets/uploads/w3c.svg" alt="w3c member">
                </div>
                
                <!-- Icon 3 -->
                                <div class="banner-icon">
                    <img src="https://accessibilitygenerator.com/assets/uploads/court_approved.svg" alt="court approved">
                </div>
                            </div>
        </div>
    
   <!--privacy policy-->
   
        <div class="terms-container">
            <h2 class="terms-title">Read our terms of services and privacy policy</h2>
            <p class="terms-description">
                Read our terms of services and privacy policy By using Accessibility Generator, you are agreeing to our terms or services and privacy policy, as described on the page linked below.            </p>
            <div class="terms-links">
                <a href="https://www.ecomback.com/privacy-policy" target="_blank" class="terms-link">Privacy
                    policy &amp; terms of service</a>
            </div>
        </div>

    <div class="main-app-version">
        <p class="app-version">App Version 1.1.0</p>
    </div>
</div>
{% endblock %}